body{
  background-color: rgba(0, 0, 0, 0.879);
  color: white;
}

.header{
  background-color: rgba(0, 0, 0, 0.818);
  box-shadow: 0px 0px 4px 4px gray;
}

.heading{
  text-align: center;
}
h2{
  background-color: rgba(0, 0, 0, 0.818);
  box-shadow: 0px 0px 4px 4px gray;
  margin-top: 10px;
  text-align: center;
}