body{
  background-color: rgba(0, 0, 0, 0.879);
  color: white;
}

.header{
  margin: auto;
  margin-top: 20vh;
  height: 50vh;
  width: 70vw;
  background-color: rgba(0, 0, 0, 0.818);
  box-shadow: 0px 0px 4px 4px gray;
}

.heading{
  text-align: center;
  margin-top: 5vh;
}
.heading2{
  text-align: center;
  background-color: #0f0c0c;
  box-shadow: 0px 0px 4px 4px gray;
  margin: auto;
  margin-top: 10px;
  width: 10vw;
}
.hr{
  font-size: larger;
  font-weight: bolder;
  box-shadow: 0px 0px 4px 4px rgb(69, 58, 58);
}

p{
  margin: auto;
  text-align: center;
  padding: 5px;
}
h2{
  background-color: #383030;
  box-shadow: 0px 0px 4px 4px gray;
  margin: auto;
  margin-top: 5vh;
  width: 10vw;
  color: white;
  text-decoration: none;
  text-align: center;
}